/* Start Form*/
body {
    background-color: #F1F1F1;
}
h2{
    font-family: 'Raleway', sans-serif; 
    font-weight: 900 ;
    font-size: 50px ;
    letter-spacing: -3px ;
    color: #757575 ;
    margin-top: 50px;
}
.contact-form{
    max-width: 500px;
    margin: auto;
}
.contact-form .form-group{   
    margin-bottom: 0;
    position: relative;
}
.contact-form input,
.contact-form textarea{
    margin-bottom: 5px;
    border: 1px solid #69c3c3;
}

.contact-form textarea{
    height: 180px !important;   
}

.contact-form input:not([type='submit']) + i{
    height: 0;
    float: left;
    position: relative;
    top: -32px;
    color: #626b71;
    left: 10px;
}

.contact-form .asterisx{
    
    float: right;
    height: 0;
    font-size: 25px;
    color: #b90d0d;
    position: absolute;
    right: 10px;
    top: 5px;
}

.contact-form input{
    padding-left: 30px;
}

.contact-form .send{
    position: relative;
    top: -1px;
    left: -148px;
    color: #FFF;

}

.contact-form .custom-alert{
    padding: 5px 10px;
    display: none;
}